.question {
  transition: 0.3s;
}
.question:hover {
  background-color: #ffe9dd;
}
.avatar {
  width: 40px;
  height: 40px;
  background-color: var(--sixth-color);
}
.reaction svg {
  color: var(--sixth-color);
}
.reaction:hover svg {
  color: black;
}
