.allPage {
  margin-top: 50px;
}
.brief {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-bottom: 30px;
}
.achievements {
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
}
.students {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.reviews {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.photo {
  width: 150px;
  height: 150px;
}
.photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.courses h3 {
  margin-bottom: 10px;
}
