.cart .total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.total-price span {
  font-size: 1.4rem;
}

.cart .actions {
  text-align: right;
  margin: 15px 0 0;
}

.cart .actions button {
  color: var(--secondary-color);
  border-radius: 5px;
  border: 1px solid var(--third-color);
  transition: 0.1s;
}

.cart .actions .cancel {
  margin-right: 5px;
  background-color: white;
  color: var(--secondary-color);
}

.cart .actions .cancel:hover {
  background-color: var(--secondary-color);
  color: white;
}
