.cart {
  width: 500px; /* Temporary property */
}

.cart .total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart .actions {
  text-align: right;
  margin: 15px 0 0;
}

.cart .actions button {
  border-radius: 5px;
  border: 1px solid var(--main-color);
  transition: 0.1s;
}

.cart .actions .cancel {
  margin-right: 5px;
  background-color: white;
  color: var(--main-color);
}

.cart .actions .cancel:hover {
  background-color: var(--main-color);
  color: white;
}
