.cart {
  animation: listing-animation 0.4s;
}
.list-out {
  animation: listing-animation 0.4s alternate-reverse !important;
}
.cart-list {
  max-height: 500px;
  overflow: auto;
}
@keyframes listing-animation {
  0% {
    opacity: 0;
    transform: translateY(-400px);
  }
  50% {
    opacity: 1;
    transform: translateY(50px);
  }
}

@media (max-width: 550px) {
  .cart-list {
    max-height: 340px !important;
  }
}
@media (max-width: 450px) {
  .cart-list {
    max-height: 250px !important;
  }
}

.cart-list::-webkit-scrollbar {
  display: none;
}

.cart .total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.total-price span {
  font-size: 1.4rem;
}

.cart .actions {
  text-align: right;
  margin: 15px 0 0;
}

.cart .actions button {
  color: var(--secondary-color);
  border-radius: 5px;
  border: 1px solid var(--third-color);
  transition: 0.1s;
}

.cart .actions .cancel {
  margin-right: 5px;
  background-color: white;
  color: var(--secondary-color);
  transition: 0.2s;
}

.cart .actions .cancel:hover {
  background-color: var(--secondary-color);
  color: white;
}
