.course-header {
  width: 55%;
  background-color: var(--sixth-color);
}
.course-header .link {
  text-decoration: none;
  color: var(--sixth-color);
}
.rates a {
  color: var(--sixth-color);
}
.info {
  margin-top: 15px;
}
.instructor {
  margin-top: 15px;
}
.instructor a {
  color: var(--sixth-color);
}

@media (max-width: 850px) {
  .course-header {
    width: 100%;
  }
}

.preview {
  height: 300px !important;
  display: block;
}

@media (min-width: 850px) {
  .preview {
    display: none;
  }
  .body {
    display: none;
  }
}

.popup {
  position: fixed;
  top: 20px;
  left: 50%;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--main-color);
  transform: translateX(-50%);
  transform-origin: 0% 50%;
  animation-name: popup;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes popup {
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
