.course-header {
  background-color: var(--sixth-color);
  width: calc(100% - 330px - 3rem);
}
.course-header .link {
  text-decoration: none;
  color: var(--fifth-color);
}
.rates a {
  color: var(--fifth-color);
}
.info {
  margin-top: 15px;
}
.instructor {
  margin-top: 15px;
}
.instructor a {
  color: var(--fifth-color);
}

@media (max-width: 992px) {
  .course-header {
    width: 100%;
  }
  .preview {
    margin-top: 30px;
  }
  .body {
    display: flex;
    flex-direction: column;
  }
  .add-to-cart {
    border: none;
    background-color: var(--secondary-color);
    color: aliceblue;
    width: 100%;
    height: 50px;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
  }
  .buy {
    width: 100%;
    height: 50px;
    display: block;
    cursor: pointer;
  }
  .price {
    margin: 20px 0 20px 0;
    display: flex;
    align-items: flex-end;
    gap: 10px;
  }
  .initial-price {
    flex: 1;
  }
  .final-price {
    font-size: xx-large;
  }
  .refund {
    margin: 10px 0 30px;
    text-align: center;
  }
  .buyButtons {
    display: flex;
    justify-content: space-evenly;
  }
  .buyButtons button {
    border: none;
    border-bottom: 1px solid aliceblue;
    background-color: var(--sixth-color);
    color: aliceblue;
    cursor: pointer;
  }
  .couponform {
    display: flex;
    margin: 10px 0;
    border: 1px solid var(--secondary-color);
  }
  .ApplyCoupon {
    flex: 1;
    font-size: 16px;
    padding: 10px;
    border: none;
    outline: none;
  }
  .ApplyCouponButton {
    font-size: large;
    cursor: pointer;
    border: none;
    background-color: var(--secondary-color);
    color: aliceblue;
    padding: 10px;
  }
}

.preview {
  height: 300px !important;
  display: block;
}

@media (min-width: 992px) {
  .preview {
    display: none;
  }
  .body {
    display: none;
  }
}

.popup {
  position: fixed;
  top: 20px;
  left: 50%;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--fourth-color);
  color: var(--main-color);
  transform: translateX(-50%);
  transform-origin: 0% 50%;
  animation-name: popup;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes popup {
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
