.description {
  width: 60%;
  margin: 20px 0 20px 0;
}

@media (max-width: 992px) {
  .description {
    width: 100%;
  }
}
.description button {
  background-color: var(--main-color);
  color: var(--secondary-color);
  border: none;
  border-bottom: 2px solid var(--secondary-color);
  cursor: pointer;
}
