.description {
  width: 55%;
  margin: 20px 0 20px 0;
}
.description button{
  background-color: var(--main-color);
  color: var(--secondary-color);
  border: none;
  border-bottom: 2px solid var(--secondary-color);
  cursor: pointer;

}