.description {
  width: 55%;
  margin: 20px 0 20px 0;
}

@media (max-width: 850px) {
  .description {
    width: 100%;
  }
}
.description button {
  background-color: var(--main-color);
  border: none;
  border-bottom: 2px solid #000;
  cursor: pointer;
}
