.instructor {
  width: 55%;
}
.instructorName{
  color: var(--sixth-color);
}
.image {
  width: 100px;
  height: 100px;
  margin: 10px;
  margin-right: 20px;
}

.image img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 50%;
}

.courses .play-icon {
  margin-left: 2px;
  width: 15px;
  height: 15px;
  background-color: black;
  position: relative;
  border-radius: 50%;
  display: inline-block;
}

.courses .play-icon svg {
  position: absolute;
  top: 50%;
  left: calc(50% + 1px);
  transform: translate(-50%, -50%);
}
.groub{
  display: flex;
  margin: 10px 10px 10px -10px;
  
}
.groubDetails{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.instructor span{
  padding:5px ;
  margin-left: 10px;
  
}
.profile button{
  background-color: var(--main-color);
  color: var(--secondary-color);
  border: none;
  border-bottom: 2px solid var(--secondary-color);
  cursor: pointer;
  margin-bottom: 20px;
}
