.track {
  position: absolute;
  top: 0;
  right: 30px;
  height: calc(100% - 30px);
  z-index: 2;
}

@media (max-width: 850px) {
  .track {
    display: none;
  }
}

.overview {
  position: sticky;
  top: 30px;
  width: 330px;
  background-color: white;
  box-shadow: -1px 1px 5px rgba(50, 50, 50, 0.3);
  /* border: 2px solid rebeccapurple; */
  align-items: center;
}

.float {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-iteration-count: 0.5;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
}

.thumbnail {
  height: 200px;
  cursor: pointer;
  position: relative;
}

.hide {
  display: none;
}
.display {
  display: block;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.overlay span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.overlay span svg {
  position: absolute;
  top: 50%;
  left: calc(50% + 3px);
  transform: translate(-50%, -50%);
}

.overlay h5 {
  color: white;
  font-size: 1rem;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.body {
  padding: 20px;
  border: 2px solid var(--secondary-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.refund {
  margin: 10px auto 15px 20px;
}
.course-features {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.course-features ul {
  list-style: none;
}
.course-features li {
  padding-top: 5px;
}
.ListItem {
  padding-left: 5px;
}

.final-price {
  font-size: 2rem;
  font-weight: bold;
  margin-left: -10px;
}
.initial-price {
  margin-left: 8px;
}
.discount {
  display: inline;
  margin-left: 60%;
}

.body > button {
  width: 100%;
  cursor: pointer;
  border: 2px solid var(--secondary-color);
  height: 45px;
  margin-top: 10px;
}
.add-to-cart {
  background-color: rebeccapurple;
  color: aliceblue;
}
.buy {
  margin-top: 20px;
}
.share {
  border: none;
  padding-bottom: 3px;
  border-bottom: 2px solid #000;
  background-color: #fff;
  margin: 20px 20px 15px 65px;
  cursor: pointer;
  color: var(--secondary-color);
}
.coupon {
  border: none;
  padding-bottom: 3px;
  border-bottom: 2px solid #000;
  background-color: #fff;
  cursor: pointer;
  color: var(--secondary-color);
}
.ApplyCoupon {
  font-size: 18px;
  height: 35px;
  margin-top: 20px;
  border: 1px solid var(--secondary-color);
  text-align: center;
}
.ApplyCouponButton {
  width: 50px;
  height: 35px;
  margin-top: 20px;
  margin-left: 10px;
  cursor: pointer;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  transition: 0.2s;
}
.ApplyCouponButton:hover {
  background-color: rebeccapurple;
  color: #fff;
}

.popup {
  position: fixed;
  top: 20px;
  left: 50%;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--main-color);
  transform: translateX(-50%);
  transform-origin: 0% 50%;
  animation-name: popup;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes popup {
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
