.track {
  position: absolute;
  top: 0;
  right: 30px;
  height: calc(100% - 30px);
  z-index: 20;
}

.overview {
  position: sticky;
  top: 30px;
  width: 330px;
  background-color: white;
  box-shadow: -1px 1px 5px rgba(50, 50, 50, 0.3);
}

.float {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-iteration-count: 0.5;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
}

.thumbnail {
  height: 200px;
  cursor: pointer;
  position: relative;
}

.hide {
  display: none;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.overlay span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.overlay span svg {
  position: absolute;
  top: 50%;
  left: calc(50% + 3px);
  transform: translate(-50%, -50%);
}

.overlay h5 {
  color: white;
  font-size: 1rem;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.body {
  padding: 20px;
}

.course-features ul {
  list-style: none;
}

.final-price {
  font-size: 2rem;
  font-weight: bold;
}

.discount {
  display: block;
}

.body > button {
  width: 100%;
  cursor: pointer;
}
