.course {
  position: relative;
}

.background {
  background-color: var(--sixth-color);
  padding: 30px 0;
  margin-bottom: 50px;
}

.header-overview {
  position: absolute;
  top: 0;
  right: 15px;
}

.overview {
  position: sticky;
  top: 30px;
}

.float {
  animation-name: fade-in;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
}

.hide {
  visibility: hidden;
}
