.content {
  margin-top: 20px;
  width: 55%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (max-width: 850px) {
  .content {
    width: 100%;
  }
}
.content button {
  background-color: var(--main-color);
  color: var(--secondary-color);
  border: none;
  border-bottom: 2px solid var(--secondary-color);
  cursor: pointer;
  align-self: flex-start;
  margin-top: -30px;
}
