.section-header {
  margin-top: 2px;
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 10px;
}

.lecture {
  flex: 1;
}
@media (max-width: 992px) {
  .lecture {
    display: none;
  }
}
.section {
  margin-top: 10px;
  border: 2px solid var(--third-color);
  border-radius: 10px;
  padding: 10px;
  flex-direction: column;
  display: flex;
}
.details a {
  color: var(--secondary-color);
}
.section .lecture {
  color: var(--secondary-color);
  text-align: right;
  width: 70%;
}
.section-header svg {
  transition: 0.2s;
}

.rotate {
  transform: rotate(180deg) !important;
}
