.box {
  animation: show-up 0.3s both;
}
.close-button {
  color: var(--third-color);
}
.body {
  font-size: 1.1rem;
  width: 90%;
}
.cancel {
  color: var(--third-color);
}
.ok {
  background-color: var(--third-color);
}

@keyframes show-up {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.05);
  }
}
@media (max-width: 767.9px) {
  .sort {
    right: 0;
  }
}
