.section {
  border: 1px solid var(--third-color);
  background-color: var(--hover-color);
}
.header {
  cursor: move;
}
.icon {
  color: var(--third-color);
  font-size: 0.8rem;
}
@media (min-width: 576px) {
  .icon {
    visibility: hidden;
  }
}
.section:hover .icon {
  visibility: visible;
}
.add {
  color: var(--third-color);
  border: 1px solid var(--third-color);
  background-color: var(--main-color);
}
