.dashboard {
  margin-left: 4%;
  margin-right: 4%;
}
.new-course {
  border: 1px solid var(--third-color) !important;
  background-color: var(--third-color) !important;
}

.form {
  border: 1px solid var(--third-color);
}

.form button {
  background-color: var(--third-color);
  color: white;
}
.sort {
  min-width: 120px;
}
