.manage-course {
  margin-left: 8%;
  margin-right: 8%;
}
.manage-course nav {
  min-width: 240px;
}
.link {
  position: relative;
  transition: 0.2s;
  color: var(--sixth-color);
}
.link:hover {
  background-color: var(--hover-color);
}
.active::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 4px;
  height: 100%;
  background-color: var(--third-color);
}
.submit {
  background-color: var(--third-color) !important;
}
