.playing-lecture {
  background-color: #333;
}
.playing-lecture video {
  width: 100%;
  max-height: 550px;
  display: block;
  margin: auto;
  outline: none;
}
.navbar {
  border-bottom: 1px solid var(--secondary-color) !important;
}
@media (min-width: 768px) {
  .navbar {
    font-size: 1.1rem;
  }
}
.navbar a {
  color: var(--third-color);
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}
.content {
  margin: 20px auto;
  max-width: 1000px;
}
.course-content {
  border: 2px dotted var(--third-color);
  border-radius: 20px;
  padding: 20px;
}
.navbar .active {
  border-bottom-color: var(--third-color);
}
