.playing-lecture {
  background-color: #333;
}
.playing-lecture video {
  width: 100%;
  max-height: 550px;
  display: block;
  margin: auto;
  outline: none;
}
.content{
  margin: 20px 0 20px 15%;
  border: 2px dotted var(--third-color);
  border-radius: 20px;
  padding: 20px;
  width: 70%;
}
