.landing-image {
  height: calc(100vh - 64px);
  overflow: hidden;
  position: relative;
}
.landing-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.landing-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.landing-courses {
  padding: 10px 1%;
}
