.form{
display: flex;
align-items: center;
justify-content: center;
border: 2px solid #000;
border-radius: 10px;
flex-direction: column;
gap: 20px;
background-color: rgb(72, 63, 8);
position:relative;
width: 480px;
height: 445px;
left: 530px;
top: 100px;
z-index: -1;
}
.email{
padding: 0 10px;
margin-top: 150px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 45px;
color: rgba(62, 54, 33, 0.5);
border-radius: 8px;
}
.password{
padding: 0 10px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 45px;
border-radius: 8px;
}
.login{
    
    border-radius: 50px;
    width: 80px;
    height: 35px;
}
.note span{
    font-size:large;
    text-decoration: none;
    color: #baab04;
}