.categories {
  min-width: 200px;
}
.categories a {
  text-decoration: none;
  display: flex;
  padding: 12px 8px;
  border-left: solid var(--third-color) 3px;
  border-bottom: solid var(--third-color) 1px;
  font-family: Poppins;
  font-weight: 550;
  letter-spacing: 1px;
  color: var(--third-color);
  transition: 0.3s;
}
.categories a:hover {
  padding-left: 20px;
}
