header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 4%;
  position: relative;
  background-color: var(--secondary-color);
  box-shadow: #ab64648e 1px 1px 20px 1px;
}
@media (max-width: 660px) {
  .main-header {
    display: none;
  }
}
.logo {
  font-family: abril fatface;
}
.logolink {
  text-decoration: none;
  color: var(--sixth-color);
  font-family: cursive;
}

.categories {
  color: var(--third-color);
  align-self: stretch;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}

.active {
  color: var(--main-color);
}

.categories:hover {
  color: var(--main-color);
}

.main-categories {
  position: absolute;
  left: 4%;
  top: 150%;
  transform: translateX(50%);
  background-color: white;
  box-shadow: 0 1px 5px #ccc;
  transition: 0.3s;
  z-index: -1;
  opacity: 0;
}

.show-categories {
  opacity: 1;
  z-index: 50;
  top: 105%;
}

.search {
  flex: 1;
  display: flex;
  gap: 5px;
  background-color: var(--main-color);
  border-radius: 100px;
  padding: 5px 10px;
  border: 1px solid var(--third-color);
}

.search-icon {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

input[type="search"] {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
}

.instructor {
  color: var(--third-color) !important;
}

.cart {
  border: 2px solid var(--third-color);
  color: var(--third-color);
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  padding: 10px 5px;
  cursor: pointer;
}

.cart span.amount {
  color: var(--main-color);
  background-color: var(--main-color);
  padding: 0 6px;
  border-radius: 10px;
  background-color: var(--third-color);
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: var(--sixth-color);
}

.actions button {
  border-radius: 5px;
  margin: 3px;
  font-size: 16px;
}

.actions .signup {
  background-color: var(--main-color);
  color: var(--third-color);
}
.actions .login {
  background-color: var(--third-color);
}
