footer {
  display: flex;
  position:relative;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: var(--fifth-color);
}

footer a {
  display: block;
  text-decoration: none;
  padding: 10px;
  font-family: Poppins;
  font-weight: 555;
  color: var(--third-color);
}
