footer {
  display: flex;
  position:relative;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: var(--secondary-color);
  transform: translatey(100%);
}

footer a {
  display: block;
  text-decoration: none;
  padding: 7px;
  font-family: Poppins;
  font-weight: 555;
  color: var(--main-color);
}
