header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 8%;
  box-shadow: 0 1px 5px #ccc;
  position: relative;
}
@media (max-width: 660px) {
  .main-header {
    display: none;
  }
}
@media (min-width: 660px) {
  .mobile-header {
    display: none;
  }
}

.categories {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.main-categories {
  position: absolute;
  top: calc(100% + 5px);
  left: 10%;
  background-color: white;
  box-shadow: 0 1px 5px #ccc;
  transform: translateX(35%);
}

.outlayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

aside {
  position: fixed;
  top: 0;
  left: -300px;
  background-color: white;
  height: 100vh;
  z-index: 100;
  transition: 0.2s;
}

.show {
  left: 0;
}

.menu-bar {
  cursor: pointer;
  width: 30px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-bar:hover span {
  background-color: var(--secondary-color);
  width: 100% !important;
}

.mob-active span {
  width: 100% !important;
  background-color: var(--secondary-color) !important;
}

.menu-bar span {
  display: block;
  height: 2px;
  border: none;
  width: 100%;
  border-radius: 20px;
  background-color: var(--main-color);
  transition: 0.3s;
}

.menu-bar span:not(:nth-child(2)) {
  width: 60%;
}

.active {
  color: var(--secondary-color);
}

.categories:hover {
  color: var(--secondary-color);
}

.mobile-logo {
  flex: 1;
  text-align: center;
}

.search {
  flex: 1;
  display: flex;
  gap: 5px;
  background-color: #f0edd5;
  border-radius: 100px;
  padding: 5px 10px;
  border: 1px solid var(--main-color);
}

.search-icon {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

input[type="search"] {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
}

.search-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}
.mobile-search {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
  padding: 5px 10px;
}

.mobile-search input[type="search"] {
  flex: 1;
  background-color: white;
}
.mobile-search input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.close-icon {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.cart {
  border: 2px solid var(--main-color);
  color: var(--main-color);
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  padding: 10px 5px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .cart span.title {
    display: none;
  }
}

.cart span.amount {
  color: white;
  background-color: var(--main-color);
  padding: 0 6px;
  border-radius: 10px;
}

.actions button {
  border-radius: 5px;
  margin: 3px;
}

.actions .signup {
  background-color: var(--secondary-color);
}
