header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: fixed;
  width: 100%;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}
.categories {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
  border: #000 solid 2px;
  border-radius: 10px;
  height: 40px;
  width: 90px;
}

.active {
  color: var(--secondary-color);
}

.categories:hover {
  color: var(--secondary-color);
}
.search {
  flex: 1;
  display: flex;
  gap: 5px;
  background-color: #f0edd5;
  border-radius: 100px;
  padding: 5px 10px;
  border: 1px solid var(--main-color);
}

.search-icon {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.search input[type="search"] {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
}

.cart {
  border: 2px solid var(--main-color);
  color: var(--main-color);

  border-radius: 10px;
  padding: 10px 5px;
  cursor: pointer;
}

.cart > * {
  margin: 0 3px;
}

.cart span:nth-child(3) {
  color: white;
  background-color: var(--main-color);
  padding: 0 6px;
  border-radius: 10px;
}

.actions button {
  border-radius: 5px;
  margin: 3px;
}

.actions .signup {
  background-color: var(--secondary-color);
}
@media screen and (max-width: 973px) {
  .search {
    width: 200px;
  }
}
@media screen and (max-width: 745px) {
  .search {
    width: 120px;
  }
  .cart {
    width: inherit 70%;
  }
  .categories {
    width: inherit 70%;
  }
}
