.courses-section {
  position: relative;
}

.courses-section:hover .forward,
.courses-section:hover .backward {
  opacity: 1;
}

.course-list {
  /* flex-wrap: wrap;  make it in query media */
  display: flex;
  gap: 20px;
  overflow: auto;
}

.forward {
  top: 30%;
  right: 5px;
  opacity: 0;
  background-color: var(--third-color);
}

.backward {
  top: 30%;
  left: 5px;
  opacity: 0;
  background-color: var(--third-color);
}

.course-list::-webkit-scrollbar {
  display: none;
}
