.courses-section {
  position: relative;
  margin: 1rem 0;
}
.courses-section h3 {
  color: var(--third-color);
}

.course-list {
  /* flex-wrap: wrap;  make it in query media */
  display: flex;
  gap: 20px;
  overflow: auto;
  padding: 20px 0;
}

.course {
  max-width: 250px;
}

.forward {
  top: 30%;
  right: 5px;
  background-color: var(--third-color);
}

.backward {
  top: 30%;
  left: 5px;
  background-color: var(--third-color);
}

.course-list::-webkit-scrollbar {
  display: none;
}
