.forward {
  position: absolute;
  background-color: var(--main-color);
  padding: 10px;
  border-radius: 50%;
  box-shadow: -5px 3px 10px #212121;
  transition: 0.2s;
  cursor: pointer;
  z-index: 50;
}

.forward:hover,
.forward:active {
  background-color: var(--secondary-color);
}

.forward span {
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: translateX(-20%) rotate(45deg);
}
