:root {
  --main-color: #fff4e0;
  --secondary-color: #ffbf9b;
  --third-color: #b46060;
  --fourth-color: #b46060;
  --fifth-color: #fdedec;
  --sixth-color: #4d4d4d;
  --star-color: #e59819;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--third-color) !important;
  background-color: var(--main-color) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  padding: 0 !important;
}

@media (max-width: 767.9px) {
  .custom-flex-grow-1 {
    flex-grow: 1;
  }
}
